.App {
  background: #2D3743 url(../src/Assets/img/bg-main.png) repeat 0 0;
  border-top: 1px solid #DDD;
  box-shadow: inset white 0 1px, inset rgba(0, 0, 0, 0.5) 0 0 25px;
  height: 100vh;
  width: 100%;
  margin:0%;
  padding: 0%;
}